# Pandas
***
## <span style='color:red'> Blue is my favorite color.  </span>


##### <span style='background :yellow' >Import delle librerie necessarie

In [1]:
import pandas as pd
import numpy as np
import os

##### <span style='background :yellow' >Creazione di una serie

In [2]:
series = pd.Series([1,2,3])
print(series)

0    1
1    2
2    3
dtype: int64

##### <span style='background :yellow' >Funzione READ_CSV - import del dataset iris.csv
Il file viene importato in una struttura dati chiamata DataFrame

In [3]:
project_path = os.path.dirname(os.path.realpath("__file__"))
iris = pd.read_csv(project_path + "/dataset/iris.csv")
print(iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

##### <span style='background :yellow' >Funzione HEAD - visualizzare le prime n righe del Dataframe

In [4]:
iris.head(2)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

##### Funzione TAIL - visualizzare le ultime n righe del Dataframe

In [5]:
iris.tail(2)

     sepal.length  sepal.width  petal.length  petal.width    variety
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

##### Import del dataset iris.csv senza label
- header=None indica di non cercare una intestazione dato che il csv non la ha
- names=[ ] permette di specificare il nome delle varie colonne

In questo modo ci siamo riportati alla situazione del csv sopra con intestazione

In [6]:
iris = pd.read_csv(project_path + "/dataset/iris_no_label.csv", header=None, names=["sepal.length","sepal.width","petal.length","petal.width","variety"])
print(iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

##### Funzione COPY - Copiare un dataframe

In [7]:
iris_copy = iris.copy()
print(iris_copy)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

##### Visualizza il nome delle colonne

In [8]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

##### Funzione INFO - stampare un breve riassunto del dataframe

In [9]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

##### Ottenere una singola colonna (chiamata Series)

In [10]:
column_variety = iris['variety']
column_variety.head() # stampa le prime 5 righe

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

##### Verifica del tipo di variabile della singola colonna

In [11]:
type(column_variety)

pandas.core.series.Series

##### Ottenere alcune colonne selezionando quelle di interesse (ottenendo un dataframe più piccolo)

In [12]:
iris_small = iris[["sepal.length","sepal.width","petal.length","petal.width"]]
iris_small.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

##### Funzione DROP - ottenere alcune colonne eliminando quelle di non interesse (ottenendo un dataframe identico a quello sopra)

In [13]:
iris_small = iris.drop("variety", axis=1)
# il parametro axis compare in tutti i metodi in cui sono coinvolte righe o colonne
# se l'operazione deve essere svolta sulle righe si imposta a 1 (su tutte le righe elimino il valore di variety)
# se l'operazione deve essere svolta sulle colonne si imposta a 0
iris_small.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

##### Funzione LOC - ottenere soltanto alcune colonne e/o righe

In [14]:
# iris_shuffled è il dataframe intero ma con righe mescolate
iris_shuffled = iris.sample(frac=1) # frac indica la percentuale di campioni da prendere (1 = 100%, 0.1 = 10%, etc)
iris_shuffled.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
2             4.7          3.2           1.3          0.2      Setosa
124           6.7          3.3           5.7          2.1   Virginica
85            6.0          3.4           4.5          1.6  Versicolor
145           6.7          3.0           5.2          2.3   Virginica
34            4.9          3.1           1.5          0.2      Setosa

In [15]:
# il comando loc permette di ottenere una o più righe con indice indicato, indipendentemente dove si trovi all'interno del dataframe 
iris_shuffled.loc[[0,1]] # si ottengono sempre le prime due righe del dataframe originale

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [16]:
# ovviamente è possibile ottenere anche soltanto alcuni campi della riga e non tutti
iris_shuffled.loc[[0,1],["sepal.length","variety"]]

   sepal.length variety
0           5.1  Setosa
1           4.9  Setosa

In [17]:
# inserendo due quadre dopo il comando loc (e con un solo indice), la funzione ritorna un dataframe
iris_shuffled.loc[[0]]

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa

In [18]:
# inserendo una quadra dopo il comando loc (e con un solo indice), la funzione ritorna una series
iris_shuffled.loc[0]

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

##### Funzione ILOC - ottenere soltanto alcune colonne e/o righe

In [19]:
# il comando iloc permette di ottenere una o più righe in posizione indicata
iris_shuffled.iloc[[0,1]] # si ottengono sempre le prime due righe del dataframe mescolato
#iris_shuffled.iloc[:2] # uguale al comando sopra

     sepal.length  sepal.width  petal.length  petal.width    variety
2             4.7          3.2           1.3          0.2     Setosa
124           6.7          3.3           5.7          2.1  Virginica

In [20]:
# ovviamente è possibile ottenere anche soltanto alcuni campi della riga e non tutti
iris_shuffled.iloc[[0,1],[0,4]] # dato che iloc funziona per int, anche le colonne devono essere passate per numero

     sepal.length    variety
2             4.7     Setosa
124           6.7  Virginica

In [21]:
# inserendo due quadre dopo il comando iloc (e con un solo indice), la funzione ritorna un dataframe
iris_shuffled.iloc[[0]]

   sepal.length  sepal.width  petal.length  petal.width variety
2           4.7          3.2           1.3          0.2  Setosa

In [22]:
# inserendo una quadra dopo il comando iloc (e con un solo indice), la funzione ritorna una series
iris_shuffled.iloc[0]

sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object